<sly data-sly-use.model="com.adobe.aem.thermoking.site.core.models.Brocher">
<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.css @ categories='thermoking.website'}"/>
</sly>
<div id="homepage-container">
<div class="col-6 broucherComponent">
	<div class="hero -black" aria-label="Introducing the Precedent® S-750i | Image description:'">
		<div class="hero-overlay -black -left">
			<h1 class="header -black">${model.title}</h1>
			<p class="description -black">${model.description}</p>
			
			<div class="button-wrapper ">
				<div class="button-wrapper-2">
						<div class="button-container">
							<a href="${model.linkurl}" target="_self" class="btn -primary">
								${model.ButtontextOne}</a>
						</div>
				</div>
				<div class="button-wrapper-2">
						<div class="button-container">
							<a href="${model.linkurl}" target="_blank" class="btn -secondary">
								${model.ButtontextTwo}
							</a>
						 </div>
		</div>
			</div>
		</div>
	</div>
</div>
<div class="col-6 broucherComponent">
<div class="hero-component aem-GridColumn--tablet--6 aem-GridColumn aem-GridColumn--default--12">
	<img src="${model.image}" class="bannerimage"  alt="image"/>
</div>
</div>
</div>
</sly>	