<sly data-sly-use.image="com.adobe.aem.thermoking.site.core.models.ThermokingLogo"></sly>		
<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.css @ categories='thermoking.website'}"/>
</sly>
<div class="aem-GridColumn aem-GridColumn--default--3 aem-GridColumn--phone--10 header-logo">
							<div class="logo">
								<a href="/na/en.html" class="link"> <img class="image"
									src="${image.img}"
									alt="header-logo.png" />
								</a>
							</div>
							<div class="mobile-breadcrumb">
								<span class="caret"></span> <span class="link-name"></span>
							</div>
						</div>
				