<div
						class="style-container aem-GridColumn--tablet--12 aem-GridColumn aem-GridColumn--default--12">
						<div class="style-container-wrapper    -no-page-break -">
							<div class="title-wrapper -no-page-break"></div>
							<div class="style-container-grid">
								<div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
									<div
										class="tabs aem-GridColumn--default--none aem-GridColumn aem-GridColumn--default--10 aem-GridColumn--offset--default--1">
										<div data-tabgroup="container" class="tabs-container clearfix">
											<div class="tabs-list-item">
												<a data-index="tab1" class="tab-link  -active">Dealer
													Locator</a>
											</div>
											<div class="tabs-list-item">
												<a data-index="tab2" class="tab-link ">Contact Us</a>
											</div>
										</div>
										<div class="tabs-group container">
											<div class="tab-wrapper tab1  -active">
												<div class="tab-1">
													<div class="product-slice">
														<!--  Single product slice component Authoring code -->
														<!-- Original -->
														<div class="product-slice-component  -">
															<h2 class="title"></h2>
															<div class="product-slice-row">
																<div class="product-slice-col -image ">
																	<img class="image"
																		src="/content/dam/thermoking/dealer-locator-tk-road-side-sign.jpg"
																		alt="Photo at twilight of a Thermo King dealer sign lit up against the sunset and mountains." />
																</div>
																<div class="product-slice-col">
																	<p class="subtitle -bold">Coast-to-Coast Support</p>
																	<p class="description">With nearly 200 locations
																		across North America, the Thermo King dealer network
																		gives you the support you need—whenever and wherever
																		you are—with factory-trained expert service and
																		genuine Thermo King parts.</p>
																	<!-- If author select single tab option in product slice component embed 2 CTA buttons. -->
																	<div class="product-slice-button-wrapper">
																		<div class="button-outer-container">
																			<div class="button-container">
																				<a href="https://www.thermoking.com/dealers/"
																					target="_blank" class="btn -primary">Locate a
																					Dealer</a>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="tab-wrapper tab2 ">
												<div class="tab-2">
													<div class="style-container">
														<div class="style-container-wrapper    -no-page-break -">
															<div class="title-wrapper -no-page-break"></div>
															<div class="style-container-grid">
																<div
																	class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
																	<div
																		class="recaptchaForm aem-GridColumn--default--none aem-GridColumn aem-GridColumn--default--10 aem-GridColumn--offset--default--1">
																		<form id="contactus" class="tk-form"
																			action="https://webto.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8"
																			method="POST">
																			<input type="hidden" name="oid"
																				value="00D3i000000GTi6"> <input
																				type="hidden" name="retURL"
																				value="https://www.thermoking.com/na/en/thank-you.html">
																			<input type="hidden" name="recordType"
																				value="0123i000000zZTC"> <input
																				class="field-split align-left"
																				placeholder="First Name" id="first_name"
																				maxlength="40" name="first_name" size="16"
																				minlength="2" type="text" required /> <input
																				class="field-split align-right"
																				placeholder="Last Name" id="last_name"
																				maxlength="80" name="last_name" size="16"
																				minlength="2" type="text" required /> <input
																				class="field-split align-left" id="email"
																				maxlength="80" name="email" size="16" minlength="2"
																				type="text" placeholder="Email" required /> <input
																				class="field-split align-right" id="phone"
																				maxlength="40" name="phone" size="16" minlength="2"
																				type="text" placeholder="Telephone" required /> <input
																				class="field-split align-left" id="companySpam"
																				maxlength="40" name="company" size="16"
																				minlength="2" type="text" placeholder="Company"
																				required />
																			<!--Product of Interest-->
																			<!--<label for="00N3i00000CaOTh">Product Interest:</label>-->
																			<select class="field-split align-right"
																				id="00N3i00000CaOTh" name="00N3i00000CaOTh" required>
																				<option value="">Product Interest:</option>
																				<option value="Air Purification">Air
																					Purification</option>
																				<option value="PharmaSolutions">PharmaSolutions</option>
																				<option value="APU">APU - General</option>
																				<option value="APU DIESEL">APU - Diesel</option>
																				<option value="APU BATTERY">APU - Battery</option>
																				<option value="HEATER">Heater</option>
																				<option value="Trailer">Trailer - General</option>
																				<option value="TRAILER PRECEDENT MT">Precedent
																					Multi-Temp</option>
																				<option value="TRAILER PRECEDENT ST C-Series">Precedent
																					Single-Temp C-Series</option>
																				<option value="TRAILER PRECEDENT ST S-Series">Precedent
																					Single-Temp S-Series</option>
																				<option value="TRAILER SLXi">Trailer - SLXi
																					Local</option>
																				<option value="TRUCK LARGE">Diesel-Powered
																					Truck Units</option>
																				<option value="TRUCK SMALL">Direct-Drive
																					Truck Units</option>
																				<option value="Bus">Bus/Shuttle</option>
																				<option value="ConnectedSuite™">ConnectedSuite™</option>
																				<option value="Power Solutions">Power
																					Solutions</option>
																				<option value="Marine/Container">Marine/Container</option>
																				<option value="Rail - Passenger">Rail -
																					Passenger</option>
																				<option value="Rail - Container">Rail -
																					Container</option>
																				<option value="Frigoblock">Frigoblock</option>
																				<option value="Aftermarket Parts">Aftermarket
																					Parts</option>
																				<option value="Services - Performance Advantage">Services
																					- Performance Advantage</option>
																				<option value="Services -Blue Track by Thermo King">Services
																					- Blue Track by Thermo King</option>
																				<option value="Other">Other</option>
																			</select> <br> <input class="field-split align-right"
																				id="zip" maxlength="20" name="zip" size="16"
																				minlength="2" type="number" placeholder="Zip Code"
																				required /> <select class="field-split align-left"
																				id="country" name="country" required>
																				<option value="US">United States</option>
																				<option value="CA">Canada</option>
																				<option disabled>--------</option>
																				<option value="AF">Afghanistan</option>
																				<option value="AX">Åland Islands</option>
																				<option value="AL">Albania</option>
																				<option value="DZ">Algeria</option>
																				<option value="AS">American Samoa</option>
																				<option value="AD">Andorra</option>
																				<option value="AO">Angola</option>
																				<option value="AI">Anguilla</option>
																				<option value="AQ">Antarctica</option>
																				<option value="AG">Antigua and Barbuda</option>
																				<option value="AR">Argentina</option>
																				<option value="AM">Armenia</option>
																				<option value="AW">Aruba</option>
																				<option value="AU">Australia</option>
																				<option value="AT">Austria</option>
																				<option value="AZ">Azerbaijan</option>
																				<option value="BS">Bahamas</option>
																				<option value="BH">Bahrain</option>
																				<option value="BD">Bangladesh</option>
																				<option value="BB">Barbados</option>
																				<option value="BY">Belarus</option>
																				<option value="BE">Belgium</option>
																				<option value="BZ">Belize</option>
																				<option value="BJ">Benin</option>
																				<option value="BM">Bermuda</option>
																				<option value="BT">Bhutan</option>
																				<option value="BO">Bolivia, Plurinational
																					State of</option>
																				<option value="BQ">Bonaire, Sint Eustatius
																					and Saba</option>
																				<option value="BA">Bosnia and Herzegovina</option>
																				<option value="BW">Botswana</option>
																				<option value="BV">Bouvet Island</option>
																				<option value="BR">Brazil</option>
																				<option value="IO">British Indian Ocean
																					Territory</option>
																				<option value="BN">Brunei Darussalam</option>
																				<option value="BG">Bulgaria</option>
																				<option value="BF">Burkina Faso</option>
																				<option value="BI">Burundi</option>
																				<option value="KH">Cambodia</option>
																				<option value="CM">Cameroon</option>
																				<option value="CA">Canada</option>
																				<option value="CV">Cape Verde</option>
																				<option value="KY">Cayman Islands</option>
																				<option value="CF">Central African Republic</option>
																				<option value="TD">Chad</option>
																				<option value="CL">Chile</option>
																				<option value="CN">China</option>
																				<option value="CX">Christmas Island</option>
																				<option value="CC">Cocos (Keeling) Islands</option>
																				<option value="CO">Colombia</option>
																				<option value="KM">Comoros</option>
																				<option value="CG">Congo</option>
																				<option value="CD">Congo, the Democratic
																					Republic of the</option>
																				<option value="CK">Cook Islands</option>
																				<option value="CR">Costa Rica</option>
																				<option value="CI">Côte d'Ivoire</option>
																				<option value="HR">Croatia</option>
																				<option value="CU">Cuba</option>
																				<option value="CW">Curaçao</option>
																				<option value="CY">Cyprus</option>
																				<option value="CZ">Czech Republic</option>
																				<option value="DK">Denmark</option>
																				<option value="DJ">Djibouti</option>
																				<option value="DM">Dominica</option>
																				<option value="DO">Dominican Republic</option>
																				<option value="EC">Ecuador</option>
																				<option value="EG">Egypt</option>
																				<option value="SV">El Salvador</option>
																				<option value="GQ">Equatorial Guinea</option>
																				<option value="ER">Eritrea</option>
																				<option value="EE">Estonia</option>
																				<option value="ET">Ethiopia</option>
																				<option value="FK">Falkland Islands
																					(Malvinas)</option>
																				<option value="FO">Faroe Islands</option>
																				<option value="FJ">Fiji</option>
																				<option value="FI">Finland</option>
																				<option value="FR">France</option>
																				<option value="GF">French Guiana</option>
																				<option value="PF">French Polynesia</option>
																				<option value="TF">French Southern
																					Territories</option>
																				<option value="GA">Gabon</option>
																				<option value="GM">Gambia</option>
																				<option value="GE">Georgia</option>
																				<option value="DE">Germany</option>
																				<option value="GH">Ghana</option>
																				<option value="GI">Gibraltar</option>
																				<option value="GR">Greece</option>
																				<option value="GL">Greenland</option>
																				<option value="GD">Grenada</option>
																				<option value="GP">Guadeloupe</option>
																				<option value="GU">Guam</option>
																				<option value="GT">Guatemala</option>
																				<option value="GG">Guernsey</option>
																				<option value="GN">Guinea</option>
																				<option value="GW">Guinea-Bissau</option>
																				<option value="GY">Guyana</option>
																				<option value="HT">Haiti</option>
																				<option value="HM">Heard Island and
																					McDonald Islands</option>
																				<option value="VA">Holy See (Vatican City
																					State)</option>
																				<option value="HN">Honduras</option>
																				<option value="HK">Hong Kong</option>
																				<option value="HU">Hungary</option>
																				<option value="IS">Iceland</option>
																				<option value="IN">India</option>
																				<option value="ID">Indonesia</option>
																				<option value="IR">Iran, Islamic Republic
																					of</option>
																				<option value="IQ">Iraq</option>
																				<option value="IE">Ireland</option>
																				<option value="IM">Isle of Man</option>
																				<option value="IL">Israel</option>
																				<option value="IT">Italy</option>
																				<option value="JM">Jamaica</option>
																				<option value="JP">Japan</option>
																				<option value="JE">Jersey</option>
																				<option value="JO">Jordan</option>
																				<option value="KZ">Kazakhstan</option>
																				<option value="KE">Kenya</option>
																				<option value="KI">Kiribati</option>
																				<option value="KP">Korea, Democratic
																					People's Republic of</option>
																				<option value="KR">Korea, Republic of</option>
																				<option value="KW">Kuwait</option>
																				<option value="KG">Kyrgyzstan</option>
																				<option value="LA">Lao People's Democratic
																					Republic</option>
																				<option value="LV">Latvia</option>
																				<option value="LB">Lebanon</option>
																				<option value="LS">Lesotho</option>
																				<option value="LR">Liberia</option>
																				<option value="LY">Libya</option>
																				<option value="LI">Liechtenstein</option>
																				<option value="LT">Lithuania</option>
																				<option value="LU">Luxembourg</option>
																				<option value="MO">Macao</option>
																				<option value="MK">Macedonia, the former
																					Yugoslav Republic of</option>
																				<option value="MG">Madagascar</option>
																				<option value="MW">Malawi</option>
																				<option value="MY">Malaysia</option>
																				<option value="MV">Maldives</option>
																				<option value="ML">Mali</option>
																				<option value="MT">Malta</option>
																				<option value="MH">Marshall Islands</option>
																				<option value="MQ">Martinique</option>
																				<option value="MR">Mauritania</option>
																				<option value="MU">Mauritius</option>
																				<option value="YT">Mayotte</option>
																				<option value="MX">Mexico</option>
																				<option value="FM">Micronesia, Federated
																					States of</option>
																				<option value="MD">Moldova, Republic of</option>
																				<option value="MC">Monaco</option>
																				<option value="MN">Mongolia</option>
																				<option value="ME">Montenegro</option>
																				<option value="MS">Montserrat</option>
																				<option value="MA">Morocco</option>
																				<option value="MZ">Mozambique</option>
																				<option value="MM">Myanmar</option>
																				<option value="NA">Namibia</option>
																				<option value="NR">Nauru</option>
																				<option value="NP">Nepal</option>
																				<option value="NL">Netherlands</option>
																				<option value="NC">New Caledonia</option>
																				<option value="NZ">New Zealand</option>
																				<option value="NI">Nicaragua</option>
																				<option value="NE">Niger</option>
																				<option value="NG">Nigeria</option>
																				<option value="NU">Niue</option>
																				<option value="NF">Norfolk Island</option>
																				<option value="MP">Northern Mariana Islands</option>
																				<option value="NO">Norway</option>
																				<option value="OM">Oman</option>
																				<option value="PK">Pakistan</option>
																				<option value="PW">Palau</option>
																				<option value="PS">Palestinian Territory,
																					Occupied</option>
																				<option value="PA">Panama</option>
																				<option value="PG">Papua New Guinea</option>
																				<option value="PY">Paraguay</option>
																				<option value="PE">Peru</option>
																				<option value="PH">Philippines</option>
																				<option value="PN">Pitcairn</option>
																				<option value="PL">Poland</option>
																				<option value="PT">Portugal</option>
																				<option value="PR">Puerto Rico</option>
																				<option value="QA">Qatar</option>
																				<option value="RE">Réunion</option>
																				<option value="RO">Romania</option>
																				<option value="RU">Russian Federation</option>
																				<option value="RW">Rwanda</option>
																				<option value="BL">Saint Barthélemy</option>
																				<option value="SH">Saint Helena, Ascension
																					and Tristan da Cunha</option>
																				<option value="KN">Saint Kitts and Nevis</option>
																				<option value="LC">Saint Lucia</option>
																				<option value="MF">Saint Martin (French
																					part)</option>
																				<option value="PM">Saint Pierre and
																					Miquelon</option>
																				<option value="VC">Saint Vincent and the
																					Grenadines</option>
																				<option value="WS">Samoa</option>
																				<option value="SM">San Marino</option>
																				<option value="ST">Sao Tome and Principe</option>
																				<option value="SA">Saudi Arabia</option>
																				<option value="SN">Senegal</option>
																				<option value="RS">Serbia</option>
																				<option value="SC">Seychelles</option>
																				<option value="SL">Sierra Leone</option>
																				<option value="SG">Singapore</option>
																				<option value="SX">Sint Maarten (Dutch
																					part)</option>
																				<option value="SK">Slovakia</option>
																				<option value="SI">Slovenia</option>
																				<option value="SB">Solomon Islands</option>
																				<option value="SO">Somalia</option>
																				<option value="ZA">South Africa</option>
																				<option value="GS">South Georgia and the
																					South Sandwich Islands</option>
																				<option value="SS">South Sudan</option>
																				<option value="ES">Spain</option>
																				<option value="LK">Sri Lanka</option>
																				<option value="SD">Sudan</option>
																				<option value="SR">Suriname</option>
																				<option value="SJ">Svalbard and Jan Mayen</option>
																				<option value="SZ">Swaziland</option>
																				<option value="SE">Sweden</option>
																				<option value="CH">Switzerland</option>
																				<option value="SY">Syrian Arab Republic</option>
																				<option value="TW">Taiwan, Province of
																					China</option>
																				<option value="TJ">Tajikistan</option>
																				<option value="TZ">Tanzania, United
																					Republic of</option>
																				<option value="TH">Thailand</option>
																				<option value="TL">Timor-Leste</option>
																				<option value="TG">Togo</option>
																				<option value="TK">Tokelau</option>
																				<option value="TO">Tonga</option>
																				<option value="TT">Trinidad and Tobago</option>
																				<option value="TN">Tunisia</option>
																				<option value="TR">Turkey</option>
																				<option value="TM">Turkmenistan</option>
																				<option value="TC">Turks and Caicos Islands</option>
																				<option value="TV">Tuvalu</option>
																				<option value="UG">Uganda</option>
																				<option value="UA">Ukraine</option>
																				<option value="AE">United Arab Emirates</option>
																				<option value="GB">United Kingdom</option>
																				<option value="US">United States</option>
																				<option value="UM">United States Minor
																					Outlying Islands</option>
																				<option value="UY">Uruguay</option>
																				<option value="UZ">Uzbekistan</option>
																				<option value="VU">Vanuatu</option>
																				<option value="VE">Venezuela, Bolivarian
																					Republic of</option>
																				<option value="VN">Viet Nam</option>
																				<option value="VG">Virgin Islands, British</option>
																				<option value="VI">Virgin Islands, U.S.</option>
																				<option value="WF">Wallis and Futuna</option>
																				<option value="EH">Western Sahara</option>
																				<option value="YE">Yemen</option>
																				<option value="ZM">Zambia</option>
																				<option value="ZW">Zimbabwe</option>
																			</select> <input class="field-split align-left" id="city"
																				maxlength="40" name="city" size="16" minlength="2"
																				type="text" placeholder="City" required /> <input
																				class="field-split align-right" id="state"
																				maxlength="20" name="state" size="16" type="text"
																				placeholder="State" required /> <br> <br>
																			<!--Comments-->
																			<textarea id="00N3i00000CaOTa" name="00N3i00000CaOTa"
																				value="" size="16" onkeyup="adjust_textarea(this)"
																				placeholder="Tell Us More" required></textarea>
																			<!--spam field -->
																			<p style="display: none;">
																				Anti Spam message <input type="text" name="url"
																					id="antiSpam" />
																			</p>
																			<!--Consent-->
																			<input id="emailOptOut" name="emailOptOut"
																				type="checkbox" value="1" class="tk-checkbox"
																				style="margin: 15px 20px; display: inline-block; width: 21px; min-width: 21px; height: 21px; border: 1px solid #4D4F53; vertical-align: middle; cursor: pointer; -webkit-appearance: none;" />
																			<span class="consent-text"> Your information
																				will only be used for this inquiry. For more
																				information, please read our <a
																				href="https://www.tranetechnologies.com/en/index/privacy-policy.html"
																				target="_blank">privacy policy</a>.
																			</span>
																			<!--Campaign (custom)-->
																			<input type="hidden" id="00N3i00000CaORk"
																				name="00N3i00000CaORk" value="campaign custom">
																			<!--Lead source web form-->
																			<input type="hidden" name="lead_source"
																				id="lead_source" value="TK NA Web Form">
																			<!--Lead Source alt-->
																			<input type="hidden" id="00N3i00000CaOSN"
																				name="00N3i00000CaOSN" value="">
																			<!--URL-->
																			<input type="hidden" id="00N3i00000CaOTq"
																				name="00N3i00000CaOTq" value="">
																			<div class="form_rightcol">
																				<input type="submit" name="submit"
																					style="white-space: nowrap; display: inline-block; background-color: #0188CB; border: 1px solid #0188CB; margin: 10px 20px 10px 0; color: #FFFFFF; text-decoration: none; padding: 12px 26px; font-size: 18px; font-weight: 700; margin-bottom: 0;">
																			</div>
																		</form>
																		<script>window.onload=function(){document.getElementById("00N3i00000CaOTq").value=window.location.href;$("#contactus").submit(function(){const urlCheck=window.location.href;var textCheck=document.getElementById('antiSpam').value;var companyName=document.getElementById('companySpam').value;if(companyName=='google'){window.location.href='https://www.thermoking.com/na/en/thank-you.html';return false;}else if(urlCheck===""){window.location.href='https://www.thermoking.com/na/en/thank-you.html';return false;}else if(textCheck===""){return true;}else{window.location.href='https://www.thermoking.com/na/en/thank-you.html';return false;}})}
function adjust_textarea(h){h.style.height="20px";h.style.height=(h.scrollHeight)+"px";}</script>
																		<div class="g-recaptcha-placeholder"
																			data-key="6LevXHUUAAAAAGJdNV9TqpicuHisC84BaM2-anow"
																			data-verify-action="/bin/ds/validateRecaptcha"></div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					
					
					
					
					
					
				</div>